{% extends 'base.html.twig' %}

{% block title %}Inscription - Pantry Stock{% endblock %}

{% block body %}
    <twig:Card class="auth-card">
        <twig:PageHeader title="Créer un compte" subtitle="Quelques secondes suffisent pour démarrer." />

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword.first) }}
            {{ form_row(registrationForm.plainPassword.second) }}
            <div class="form-actions">
                <twig:Button type="submit" variant="primary" label="S'inscrire" />
                <a href="{{ path('app_login') }}">Déjà un compte ?</a>
            </div>
        {{ form_end(registrationForm) }}
    </twig:Card>
{% endblock %}
